In [23]:
# 1. Print 1 to 10 using for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
# 2. Print 20 to 1 using while loop
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [2]:
# 3. Print even numbers 1 to 10
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [3]:
# 4. Print numbers from 1 to n
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i)

Enter a number:  5

1
2
3
4
5

In [4]:
# 5. Print odd numbers between 1 and n
n = int(input("Enter a number: "))
for i in range(1, n+1, 2):
    print(i)

Enter a number:  15

1
3
5
7
9
11
13
15

In [5]:
# 6. Print "Happy Birthday!" 5 times
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

In [6]:
# 7. First n terms of squares
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i*i, end=" ")

Enter a number:  4

1 4 9 16

In [7]:
# 8. Multiplication table
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [14]:
# 9. Arithmetic progression
a = 3; d = 4
for i in range(9):
    print(a + i*d, end=" ")

3 7 11 15 19 23 27 31 35

In [15]:
# 10. Geometric sequence
a = 2; r = 3
for i in range(6):
    print(a * (r**i), end=" ")

2 6 18 54 162 486

In [17]:
# 11. Sum of integers 1 to n
n = int(input("Enter a number: "))
s = 0
for i in range(1, n+1):
    s += i
print("Sum =", s)

Enter a number:  15

Sum = 120

In [18]:
# 12. Sum of reciprocals 1 to n
n = int(input("Enter a number: "))
s = 0
for i in range(1, n+1):
    s += 1/i
print("Sum of reciprocals =", round(s, 2))

Enter a number:  4

Sum of reciprocals = 2.08

In [19]:
# 13. Running total of 5 inputs
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print("Final total =", total)

Enter a number:  2
Enter a number:  4
Enter a number:  1
Enter a number:  2
Enter a number:  2

Final total = 11

In [22]:
# 14. Factorial
n = int(input("Enter a number: "))
if n < 0:
    print("Factorial not defined for negative numbers")
else:
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print("Factorial =", fact)

Enter a number:  6

Factorial = 720

In [25]:
# 15. Power without **
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))
result = 1
if exp >= 0:
    for i in range(exp):
        result *= base
else:
    for i in range(-exp):
        result *= base
    result = 1/result
print("Result =", result)

Enter base:  -6
Enter exponent:  4

Result = 1296