In [ ]:
# Write a program to print the number from 1 to 10 using a for loop

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# Write a python program to print the number from 20 to 1 using a while loop

In [1]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# Write a program to print even numbers from 1 to 10

In [2]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:
# Write a program tht prompts the user to eneter a number n and prints all the number from 1 to n

In [3]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i)

Enter a number:  5

1
2
3
4
5

In [ ]:
# Write a program that prompts the user to enter a number n,
# and then prints all the odd number between 1 to n

In [4]:
n = int(input("Enter a number: "))
for i in range(1, n+1, 2):
    print(i)

Enter a number:  15

1
3
5
7
9
11
13
15

In [ ]:
# Write a program that prints 'Happy Birthday!' 5 times on screen

In [5]:
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

In [3]:
# Write a program that takes a number n as input
#from the user and generates the first n term of the series formed by squaring the natural number

In [6]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i*i, end=" ")

Enter a number:  4

1 4 9 16

In [4]:
# Write a program that prompts the user to input a number and prints its multiplication table

In [7]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [5]:
# Write a python program to print the first 8 terms of an arithmetic progression starting
# with 3 and having a common difference of 4
# The program should output the following sequence:
# 3 7 11 15 19 23 27 31

In [14]:
a = 3; d = 4
for i in range(9):
    print(a + i*d, end=" ")

3 7 11 15 19 23 27 31 35

In [6]:
# Write a python program to print the first 6 terms of a geaometric sequence starting 
# with 2 and having a common ratio of 3

In [15]:
a = 2; r = 3
for i in range(6):
    print(a * (r**i), end=" ")

2 6 18 54 162 486

In [7]:
# Write a program that asks the user for a positive integer vale, the program should
# calculate the sum of all the integers from 1 up to the number entered. for example,
# if the user enters 20, the loop will find the sum of 1,2,3,4,....,20.

In [17]:
n = int(input("Enter a number: "))
s = 0
for i in range(1, n+1):
    s += i
print("Sum =", s)

Enter a number:  15

Sum = 120

In [8]:
# Write a program that takes a positive integer N as inout and calculates the sum of the reciprocals
# of all number from 1 up yo N. The program should display the final sum

In [18]:
n = int(input("Enter a number: "))
s = 0
for i in range(1, n+1):
    s += 1/i
print("Sum of reciprocals =", round(s, 2))

Enter a number:  4

Sum of reciprocals = 2.08

In [9]:
# Write a program that prompts the user to enter a number and repeats this process 5 times
# the program should accumalte the number entered and then display the final running total.

In [19]:
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print("Final total =", total)

Enter a number:  2
Enter a number:  4
Enter a number:  1
Enter a number:  2
Enter a number:  2

Final total = 11

In [10]:
# Write a program that prompts the user to enter a positive integer and calculate its factorial.
# The factorial of a positive integer n is denoted as n!. and is calculated by multiplying
# all teh integers from 1 to n together.

In [22]:
n = int(input("Enter a number: "))
if n < 0:
    print("Factorial not defined for negative numbers")
else:
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print("Factorial =", fact)

Enter a number:  6

Factorial = 720

In [11]:
# Write a python program that prompts the user to enter a base number and an exponent.
# and then calculated the power of the base to the exponent. the program should not use the 
# exponentiation power (**) or the math.pow() function. the program should handle both positive
# and negative exponents.

In [25]:
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))
result = 1
if exp >= 0:
    for i in range(exp):
        result *= base
else:
    for i in range(-exp):
        result *= base
    result = 1/result
print("Result =", result)

Enter base:  -6
Enter exponent:  4

Result = 1296